@import './../base/mixins';
.resume_text_block {
  display: flex;
  justify-content: space-between;
}
.resume_text_block_left {
  max-width: 320px;

  & h3 {
    margin-bottom: 380px;
  }
}
.resume_text_block_right {
  width: 872px;
  padding-left: 154px;

  h2 {
    @include resume_h2;
    span {
      opacity: (0.48);
    }
  }
  p,
  h6 {
    @include resume_p_h6;
  }
}
