@import './../base/mixins.scss';
@import './../base/variables';
.home_main {
  width: 1192px;
  height: 192px;
  top: calc(260px); // h-navi
  left: 50%;
  position: absolute;
  transform: translate(-50%);

  & .home_section_about_me {
    position: absolute;
    & p {
      @include home_about;
      font-weight: $font_weight_400;
      white-space: pre-line;
    }
    & span {
      @include home_about;
      font-weight: $font_weight_700;
    }
  }
}

.main_projects_view {
  position: relative;
  max-width: 1192px;
  height: 1558px;
  top: calc(500px + 48px + 92px - 96px - 192px); // h-navi
  gap: 48px;
  & .main_project_info {
    margin-top: 24px;
    width: 199px;
    height: 29px;
    & p {
      @include project;
      font-weight: $font_weight_400;
    }
  }
}
.other_projects_view {
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}

@media (max-width: 1440px) {
  .home_main {
    margin-left: 124px;
    max-width: calc(1440px - (124px * 2)) !important;
  }
}
@media (max-width: 992px) {
  .home_main {
    max-width: calc(100vw - (124px * 2)) !important;
  }
}
@media (max-width: 492px) {
  .home_main {
    max-width: calc(100vw - (4px * 2)) !important;
  }
}
