$font_weight_400: 400;
$font_weight_700: 700;

//color
$navi_border_color: var(--Colour-Grey-100, rgba(242, 244, 247, 1));
$text_color_grey: var(--Colour-Grey-700, #344054);

//rarius
$borderRadius: 16px;
